<div class="panel panel-default">
  <div class="panel-heading am-call-header">
    <h3 class="panel-title">{{capitalize call.title}}</h3>
  </div>
  <div class="panel-body">
    <p>{{call.deadline}}</p>
    <p>{{call.organization}}</p>
    <p>{{call.description}}</p>
    <p>{{call.qualifications}}</p>
    <p>{{call.compensation}}</p>
    <p>{{call.contact}}</p>
    <p><a href="{{call.url}}">{{call.url}}</a></p>
  </div>
</div>
