<div class="panel panel-default">
  <div class="panel-heading am-job-header">
    <h3 class="panel-title">{{capitalize job.title}}</h3>
  </div>
  <div class="panel-body">
    <p>{{job.hirer}}</p>
    <p>{{job.compensation_type}}</p>
    <p>{{job.compensation}}</p>
    <p>{{job.description}}</p>
    <p>{{job.qualifications}}</p>
    <p>{{job.start_date}}</p>
    <p>{{job.duration}}</p>
    <p>{{job.contact}}</p>
    <p><a href="{{job.url}}">{{job.url}}</a></p>
  </div>
</div>